html {
  background: url('background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #333;
}

.text-box {
  background-color: rgba(0, 0 ,0, 0.6);
  color: rgb(0, 255, 255);
  padding: 40px;
  font-size: 1.5em;
  width: 50%;
  position: relative;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  text-align: center;
  line-height: 1.5;
  font-family: 'Bellefair', serif;
}

p {
  margin: 0;
}

.section-header {
  text-transform: uppercase;
  text-align: center;
}

.header {
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.25em;
}

.text-block {
  margin-bottom: 30px;
}

.text-block a{
  color: #FFF;
  border-bottom: 3px double;
  color: #FFF;
  text-decoration: none;
}

.death {
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.5em;
}
